.popup__input{
  max-width: 358px;
  height: 27px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;

}
@media screen and (max-width: 530px) {
  .popup__input {
    max-width: 238px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 75px;
  }
}

.popup__input:nth-child(3) {
  margin-bottom: 0;
  margin-top: 0;
}
/*про инпуты вообще не понял :( */
