.popup__container{
  max-width: 430px;
  max-height: 330px;
  width: 430px;
  height: 330px;
  background: #fff;
  color: #000;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;

}
