.profile{
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 51px;

}
@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
    margin-left: 19px;
    margin-right: 19px;
  }
}

