.header__logo{
  background-image: url(../../../images/Vector.svg);
  color: #fff;
  width: 142px;
  height: 33px;
  background-size: cover;
}

@media screen and (max-width: 880px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}
.header__logo:hover{
  opacity: 0.6;
}

