.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  max-height: 330px ;
}

@media screen and (max-width: 530px) {
  .popup__form  {
    max-width: 282px;
    max-height: 322px;
  }
}

