.elements__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 79px;
  align-items: center;
  padding-left: 21px;
  padding-right: 15px;


}
