.profile__description{
  margin: 0;
  margin-top: 16px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 880px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

