.footer {
  margin-top: 67px;
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  max-width: 880px;
  width: 100%;
}
@media screen and (max-width: 880px) {
  .footer {
    margin-top: 48px;
  }
}



